.header{
  @include margin-header;
}
.index-header{
  width: 100%;
}
.background-container{
  position: relative;
  z-index: -10;
  margin: 6px;
  border-radius: 8px 62px 62px 8px;
  overflow: hidden;
  width: 70%;
  height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-image: url(../img/background/pexels-lumn.jpg);
  filter: opacity(80%) grayscale(15%);
}

.content-container {
  margin-bottom: 360px;
  width: 84%;
  background-color: $black;
  border-radius: 43px 0px 0px 43px;
  margin-left: auto;
  margin-top: -800px;
  display: grid;
  grid-template-columns: repeat(3,52% 4% 44%);
  padding: 44px 50px;
  filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));


  
  .header-title {
    position: relative;
    z-index: 1;
    h1 {
      @include title;
      margin-top: 22px;
      margin-bottom: 22px;
    }

    p {
      @include text;
      color: $text-decoration-color;
      margin-bottom: 70px;

      span {
        @include span;
      }
    }
      .order-button {
        @include button;
        margin-bottom: 58px;
        a{
          color: inherit;
        }
      }
  }

  hr {
    height: 440px;
    border: 1px solid #F5F5F5;
  }
    .header-image{
        margin-bottom: 46px;
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        .header-image-1{
          grid-column: 1 / 3;
          justify-self: end;
        }
        .header-image-2{
          justify-self: end;
          margin-top: -38px;
        }
        .header-image-3{
          justify-self: end;
          align-self: end;
        }
        .header-image-item{
          @include picture;
        }
  
    }
}
@media screen and (max-width:1519px) {
  .content-container {
      margin-bottom: 260px;
    }

}

@media screen and (max-width:1308px) {

  .content-container {
    margin-bottom: 340px;
  grid-template-columns: repeat(3, 50% 4% 46%);

      hr {
        height: 380px;
      }
    }

}
@media screen and (max-width:1140px) {

  .content-container {
      margin-bottom: 480px;
    hr {
      height: 320px;
    }
        
  }

}
@media screen and (max-width:1045px) {
  .content-container {
    margin-bottom: 410px;
  }

}
@media screen and (max-width:940px) {
  .background-container {
      width: 80%;
      
    }
  .content-container {
    max-height: 660px;
    margin-bottom: 310px;
    grid-template-columns: repeat(1, 1fr);
    hr{
      height: 0;
      width: 100%;
    }
    .header-image {
      row-gap: 180px;
      margin-top: -200px;
        .header-image-2 {
          margin-top: -138px;
        }
      
    }

    
  }

}

@media screen and (max-width:660px) {

  .content-container {
    margin-bottom: 300px;
    .header-image {
      row-gap: 200px;
      margin-top: -200px;
      .header-image-2 {
          margin-top: -140px;
        }
    }

  }

}
@media screen and (max-width:570px) {
  .index-header{
    .background-container {
      height: 800px;

    }
  }
  
  .content-container {
    margin-bottom: 240px;
    height: 460px;
    margin-top: -590px;
    .header-title {
      margin-right: 0;
                        
    }

    .header-image {
      row-gap: 120px;
      margin-top: -140px;
      .header-image-2 {
          margin-top: -80px;
        }
    }

  }

}
@media screen and (max-width:440px) {
  .index-header {
      .background-container {
        height: 650px;
  
      }
    }
  .content-container {
    height: 430px;
    margin-top: -480px;

    .header-image {
    row-gap: 120px;
     margin-top: -120px;
    }

  }

}
@media screen and (max-width:358px) {
  .content-container {
    height: 410px;
    margin-bottom: 200px;
    margin-top: -460px;
        .header-image {
          row-gap: 110px;    
        }

  }

}
@media screen and (max-width:320px) {
  .content-container {
    margin-bottom: 140px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-title {
        text-align: center;
        margin-right: 0;   
        .order-button{
          margin: 0;
        }
      }

    .header-image {
      display: none;
    }
    hr{
      display: none;
    }
  }

}