<section class="about-us-wrapper">
    <div class="about-us-container">
        <div class="about-us-content">
            <h2 class="about-us-title">About us</h2>
            <p class="about-us-text"><span>BIO CWT</span>- We manufacture solid wood products according to individual drawings. We make chairs, armchairs, wardrobes,
            beds and much more in our own workshop, equipped with all the necessary industrial equipment.</p>
        </div>
        <div class="about-us-img">
            <div class="measures-img"><img src="../img/pictures/person-taking-measures-wood.png" alt="person-taking-measures-wood"></div>
            <div class="main-img"><img src="../img/pictures/portrait.png" alt="portrait"></div>
            <div class="drawing-furniture-img"><img src="../img/pictures/drawing-furniture-sheet-paper.png" alt="drawing-furniture-sheet-paper"></div>
        </div>
    </div>

</section>