<section class="advantages-wrapper">
    <h2 class="advantages-title">Advantages <br> working with us</h2>
    <div class="advantages-container">
        <div class="advantages-info">
            <!-- <iframe class="advantages-info-video" src="https://www.youtube.com/embed/jkZnFdu6PXU" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe> -->
            <iframe class="advantages-info-video" src="https://www.youtube.com/embed/6exB9O_kT54" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="advantages-content">
                <p>In-house carpentry production</p>
                <p>We only treat wood with environmentally friendly and safe products</p>
                <p>Prices from the manufacturer, no extra charges</p>
            </div>
            <div class="receive-consult">
                <button class="order-button"><a href="#question-form">Receive a consultation</a></button>
            </div>
            
        </div>
    </div>
</section>