<section class="gallery-wrapper">
    <div class="gallery-container">
        <h2 class="gallery-title">Our works</h2>
        <div class="gallery-slider">
            <button class="direction-button left"><img src="../img/svg/left.svg" alt="left"></button>
            <div class="example-gallery">
                <img src="../img/pictures/modern-wooden-kitchen.png" alt="modern-wooden-kitchen">
            </div>
            <button class="direction-button right"><img src="../img/svg/right.svg" alt="right"></button>
        </div>
        <div class="highlight-group">
            <div class="highlight"></div>
            <div class="highlight highlight-active"></div>
            <div class="highlight"></div>
        </div>
    </div>
</section>