<div class="background-container"></div>
<div class="content-container">
  <div class="header-title">
    <h1>Solid wood products</h1>
    <p>Oak, beech, ash from <br><span>1700 CZK</span> per m3</p>
    <button class="order-button"><a href="prices.html">Order</a></button>
  </div>
  <hr>
  <div class="header-image">
    <div class="header-image-item header-image-1"><img src="../img/pictures/furniture.png" alt="furniture"></div>
    <div class="header-image-item header-image-2"><img src="../img/pictures/stairs.png" alt="stairs"></div>
    <div class="header-image-item header-image-3"><img src="../img/pictures/table.png" alt="table"></div>
  </div>
  
</div>
