<section class="materials-wrapper">
    <div class="materials-title"><h2>THE WOOD WE <br> WORK WITH</h2></div>
    
    <div class="materials">
        <div class="materials-item">
            <div class="materials-img"><img src="../img/pictures/oak.png" alt="oak"></div>
            <p class="material-name"><span>Oak</span></p>
            <ul class="material-characteristics">
                <li>Durability</li>
                <li>Beautiful texture</li>
                <li>Water resistance</li>
                <li>Expensive</li>
            </ul>
        </div>
        <div class="materials-item">
            <div class="materials-img"><img src="../img/pictures/buk.png" alt="buk"></div>
            <p class="material-name"><span>Buk</span></p>
            <ul class="material-characteristics">
                <li>Durability</li>
                <li>Hard to handle</li>
            </ul>
        </div>
        <div class="materials-item">
            <div class="materials-img"><img src="../img/pictures/ash.png" alt="ash"></div>
            <p class="material-name"><span>Ash</span></p>
            <ul class="material-characteristics">
                <li>Durability</li>
                <li>Hard to handle</li>
            </ul>
        </div>
    </div>
</section>