<section class="prices-wrapper">
    <div class="prices-container">
        <h2 class="prices-title">PRICE LIST</h2>
        <div class="prices-slider">
            <button class="direction-button left"><img src="../img/svg/left.svg" alt="left"></button>
            <div class="prices-list">
                <div class="price-content price-content-1">
                    <table class="main-table">
                        <colgroup>
                            <col class="col-1">
                            <col class="col-2">
                            <col class="col-3">
                            <col class="col-4">
                        </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                <th>délka</th>
                                <th>šiřka</th>
                                <th>tloustka</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td class="kind">buk pr</td>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                            <tr>
                               <th></th>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                            <tr>
                               <th></th>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                            <tr>
                               <th></th>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="price-content price-content-2">
                <div class="col-3-color"></div>
                    <table class="main-table">
                        <colgroup>
                            <col class="col-1">
                            <col class="col-2">
                            <col class="col-color">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>m3</th>
                                <th>cena m3</th>
                                <th>cena ks.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                            <tr>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                            <tr>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                            <tr>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div  class="price-content price-content-3">
                    <table class="main-table">
                        <colgroup>
                            <col class="col-1">
                            <col class="col-2">
                            <col class="col-3">
                            <col class="col-4">
                        </colgroup>
                        <tbody>
                            <tr>
                               <td class="kind">buk cink</td>
                               <td>4000</td>
                               <td>400</td>
                               <td>30</td>
                            </tr>
                            <tr>
                               <th></th>
                               <td>1000</td>
                               <td>300</td>
                               <td>20</td>
                            </tr>
                            <tr>
                               <th></th>
                               <td>1000</td>
                               <td>300</td>
                               <td>20</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="price-content price-content-4">
                <div class="col-3-color"></div>
                    <table class="main-table">
                        <colgroup>
                            <col class="col-1">
                            <col class="col-2">
                            <col class="col-color">
                        </colgroup>
                        <tbody>
                            <tr>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                            <tr>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                            <tr>
                               <td>1000</td>
                               <td>300</td>
                               <td>40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="direction-button right"><img src="../img/svg/right.svg" alt="right"></button>
        </div>
        <div class="highlight-group">
            <div class="highlight"></div>
            <div class="highlight highlight-active"></div>
            <div class="highlight"></div>
        </div>
    </div>
</section>