<section class="question-wrapper">
    <h2 class="question-title">Any questions?</h2>
    <div class="question-container">
        <div class="question-form" id="question-form">
            <form class="question-form-area" action="#" method="post">
                <input type="text" id="fname" name="fname" placeholder="Your name"><br>
                <input type="tel" id="phone" name="phone"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Your telephone number"><br>
                <textarea type="text" id="fname" name="fname" placeholder="Your question"></textarea><br>
                <button type="submit" class="send">Send</button>
            </form>
        </div>
        <div class="question-content">
            <p>Write to us and we will be sure to answer all your questions and give you a comprehensive consultation.</p>
            <div class="wood-img"><img src="../img/background/wood.png" alt="wood"></div>
        </div>
        
    </div>
</section>