// если вы хотите использовать sass-переменные - удалите root
// colors palette
$prime-color: #F5F5F5;
$main-background: #222021;
$black: #1E0C06;
$dark: #32353C;
$grey:#5B6069;
$button-background: #728BAD;
$button-hover-background: #D5DCEE;
$button-text-hover: #8E3921;
$table-background: #E69679;
$main-table-background: #D9D9D9;
$table-border: rgba(142, 57, 33, 0.37);
$form-border: #728BAD;
$form-border-active: #6C200B;
$text-decoration-color: #FFDBBB;
$text-active-color:#A3B8D7;